﻿@model Ateno.Application.DTOs.RoomDTO
@{
    ViewData["Title"] = "Criar nova sala";
}
<link href="~/css/Room/create.css" rel="stylesheet" />

<div class="header-page">
    <div>
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<div class="flex-center">
    <blockquote class="blockquote flex-center" title="Dados da Sala">
        <form asp-controller="Room" asp-action="Create" method="post" role="form" id="formSubmit" class="inputs-container">
            <div class="space-item">
                <div class="col-md-12" style="padding: 5px;">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="space-item">
                <div class="col-md-12 form-switch" style="padding: 5px;">
                    <input class="form-check-input" type="checkbox" name="IsPublic" id="IsPublic" value="true" checked /> <label class="form-check-label" for="IsPublic">Sala pública</label>
                    <input type="hidden" name="IsPublic" value="false" />
                </div>
            </div>

            <div class="row mx-auto" style="padding: 20px;">
                <button type="submit" class="button submitForm">
                    Criar Sala
                </button>
            </div>
        </form>
    </blockquote>
</div>