﻿@model Ateno.Application.DTOs.RoomDeckInfoDTO
<link href="~/css/Room/deckinfo.css" rel="stylesheet" />
<script>
    var table = $('#myTable').DataTable({
        "dom": "<'row'<'col-sm-12 col-md-6'f><'col-sm-12 col-md-6'i>><'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'l><'col-sm-12 col-md-7'p>>",
        responsive: true,
        orderCellsTop: true,
        fixedHeader: true,
        "oLanguage": {
            "sEmptyTable": "Nenhum registro encontrado",
            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "_MENU_ resultados por página",
            "sLoadingRecords": "Carregando...",
            "sProcessing": "Processando...",
            "sZeroRecords": "Nenhum registro encontrado",
            "sSearch": "Pesquisar",
            "oPaginate": {
                "sNext": "Próximo",
                "sPrevious": "Anterior",
                "sFirst": "Primeiro",
                "sLast": "Último"
            },
            "oAria": {
                "sSortAscending": ": Ordenar colunas de forma ascendente",
                "sSortDescending": ": Ordenar colunas de forma descendente"
            }
        }
    });
</script>
<div class="modal-dialog modal-middle">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-header_text">Desempenho</h4>
        </div>
        <div class="modal-body">
            <div class="board board-modal">
                <h5>Resumo geral</h5>
                <div class="panel">
                    <div class="panel-item panel-item-modal">
                        <span>
                            <span class="panel-span1">@Model.Performance</span> Média do desempenho
                        </span>
                        <div class="tooltips">
                            <img src="~/images/about.svg" width="15px;" height="15px;" />
                            <span class="tooltiptext">O desempenho vai de zero à cinco. Quanto maior, melhor.</span>
                        </div>
                    </div>
                    <div class="panel-item panel-item-modal">
                        <span>
                            <span class="panel-span1">@Model.StudyUsers</span> Usuários estudando
                        </span>
                    </div>
                </div>
                <div class="flex-div" style="padding-top: 1px;">
                    <div class="separator"></div>
                </div>
                <table id="myTable" class="table dt-responsive" style="width:100%;">
                    <thead>
                        <tr>
                            <th style="width: 55%">
                                Frente do cartão
                            </th>

                            <th style="width: 20%">
                                Desempenho
                                <div class="tooltips">
                                    <img src="~/images/about.svg" width="15px;" height="15px;" />
                                    <span class="tooltiptext">O desempenho vai de zero à cinco. Quanto maior, melhor.</span>
                                </div>
                            </th>

                            <th style="width: 25%;">Usuários estudando</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.RoomCardInfo)
                        {
                            <tr>
                                <td style="overflow: hidden; text-overflow: clip; width: 55%;">
                                    @item.Front
                                </td>

                                <td style="overflow: hidden; text-overflow: clip; text-align: center; width: 20%">
                                    @item.Performance
                                </td>

                                <td style="overflow: hidden; text-overflow: clip; text-align: center; width: 25%">
                                    @item.StudyUsers
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" style="margin: 10px;" class="btn modal-close-button" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>