﻿@model Ateno.Application.DTOs.RoomDTO
@{
    ViewData["Title"] = "Alterar sala de estudos";
}
<link href="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.css" rel="stylesheet" />
<link href="~/lib/datatables.net-responsive-bs5/responsive.bootstrap5.min.css" rel="stylesheet" />
<link href="~/css/Room/edit.css" rel="stylesheet" />
@section scripts {
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/responsive.bootstrap5.min.js"></script>
    <script src="~/js/Room/edit.js"></script>
}

<div class="header-page">
    <div>
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<div class="flex-center">
    <blockquote class="blockquote flex-center" title="Dados da Sala">
        <form asp-controller="Room" asp-action="Edit" method="post" role="form" id="formSubmit" class="inputs-container">
            <input type="hidden" asp-for="Id" />
            <div class="space-item">
                <div class="col-md-12" style="padding: 5px;">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="space-item">
                <div class="col-md-12 form-switch" style="padding: 5px;">
                    <input class="form-check-input" type="checkbox" name="IsPublic" id="IsPublic" value="@Model.IsPublic.ToString().ToLower()" @(Model.IsPublic ? "checked" : "") onchange="this.value=this.checked" /> <label class="form-check-label" for="IsPublic">Sala pública</label>
                    <input type="hidden" name="IsPublic" value="false" />
                </div>
            </div>

            <div class="row mx-auto" style="padding: 20px;">
                <button type="submit" class="button submitForm">
                    Salvar alterações
                </button>
            </div>
        </form>
    </blockquote>
</div>

<div class="flex-div">
    <div class="separator"></div>
</div>

<div class="header-page">
    <div>
        <h1>Usuários na sala</h1>
    </div>
    <button type="button" class="button addUser" data-id="@Model.Id">
        Adicionar usuário
    </button>
</div>

<table id="myTable" class="table dt-responsive" style="max-width:100%;">
    <thead>
        <tr>
            <th style="width: 33%;">
                Nome
            </th>

            <th style="width: 60%">
                Email
            </th>

            <th style="width: 7%;">Remover</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td style="overflow: hidden; text-overflow: clip">
                    @item.FirstName
                </td>

                <td style="overflow: hidden; text-overflow: clip">
                    @item.Email
                </td>

                <td align="center">
                    @if (Model.AdminId != item.Id)
                    {
                        <div class="remove-button"><button type="button" class="svg-img remove-user" data-roomId="@Model.Id" data-email="@item.Email"></button></div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="modalAddUser" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <form asp-controller="Room" asp-action="AddUser" method="post" role="form" id="addUserForm">
            <input type="hidden" name="roomId" asp-for="Id" />
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-header_text">Adicionar usuário à sala</h4>
                </div>
                <div class="modal-body">
                    <div class="space-item">
                        <div class="col-md-12" style="padding: 5px;">
                            <label name="email" class="control-label modal-dialog-title">Email do usuário</label>
                            <input name="email" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="galeria">
                            <a class="btn modal-danger-button" href="javascript:document.getElementById('addUserForm').submit()">Adicionar</a>
                        </div>
                        <button type="button" style="margin: 10px;" class="btn modal-close-button" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modalConfirm">

</div>