﻿@model Ateno.Application.DTOs.HomeRoomDTO
@{
    ViewData["Title"] = "Home";
}
<link href="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.css" rel="stylesheet" />
<link href="~/lib/datatables.net-responsive-bs5/responsive.bootstrap5.min.css" rel="stylesheet" />
<link href="~/css/Room/index.css" rel="stylesheet" />
<link href="~/css/Room/deckinfo.css" rel="stylesheet" />
@section scripts {
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/responsive.bootstrap5.min.js"></script>
    <script src="~/js/Room/index.js"></script>
}

<div class="title">
    <div>
        <h1>
            Sala: @Model.RoomName
            @if (Model.IsAdmin)
            {
                <a asp-controller="Room" asp-action="Edit" asp-route-roomId="@Model.RoomId"><img src="~/images/settings.svg" width="25px;" height="25px;" /></a>
            }
        </h1>
    </div>
    <div>
        @if (Model.RoomCode != null)
        {
            <button class="room-code">
                <div>
                    <img src="~/images/copy.svg" alt="Copiar código da sala" />
                </div>
                <span>Sala <b id="copyText">@Model.RoomCode</b></span>
            </button>
        }
    </div>
</div>

@if (Model.DeckCards.Count > 0)
{
    <div class="board">
        <h5>Acompanhamento da sala</h5>
        <div class="panel">
            <div class="panel-item">
                <span>
                    <span class="panel-span1">@Model.InReview</span> A revisar
                </span>
            </div>
            <div class="panel-item">
                <span>
                    <span class="panel-span1">@Model.InLearning</span> Em aprendizagem
                </span>
            </div>
            <div class="panel-item">
                <span>
                    @if (Model.TotalCount != 0)
                    {
                        <span class="panel-span2">@Model.TotalCount</span>
                    }
                    else
                    {
                        <span class="panel-span1">@Model.TotalCount</span>
                    }
                    Total pendente
                </span>
            </div>
        </div>
    </div>
}

@if (Model.DeckCards.Count > 0)
{

    <h5 class="session-item">Baralhos de estudos</h5>
    <div class="card-list">
        @foreach (var item in Model.DeckCards)
        {
            <div class="card-container">
                <div class="card-item">
                    <div class="card-item-container">
                        <a asp-controller="StudyDeck" asp-action="Index" asp-route-deckid="@item.Id" class="card-item-body">
                            <div class="card-item-title">@item.Name</div>
                            <div class="card-item-middle">
                                @if (item.InReview != 0)
                                {
                                    <p>A revisar: <span class="count-card1">@item.InReview</span></p>
                                }
                                else
                                {
                                    <p>A revisar: <span class="count-card2">@item.InReview</span></p>
                                }
                                @if (item.InLearning != 0)
                                {
                                    <p>Em aprendizagem: <span class="count-card1">@item.InLearning</span></p>
                                }
                                else
                                {
                                    <p>Em aprendizagem: <span class="count-card2">@item.InLearning</span></p>
                                }
                            </div>
                        </a>
                        @if (Model.IsAdmin)
                        {
                            <footer>
                                <div>
                                    <button type="button" class="addCards" data-id="@item.Id"><img src="~/images/add.svg" /></button>
                                    <a type="button" asp-controller="StudyDeck" asp-action="EditStudyDeck" asp-route-studyDeckId="@item.Id" style="padding-left: 5px; padding-right: 5px;"><img src="~/images/edit.svg" /></a>
                                    <button type="button" class="deckInfo" data-id="@item.Id"><img src="~/images/chart.svg" width="25px;" height="25px;" /></button>
                                </div>
                                <div><button type="button" class="removeDeck" data-id="@item.Id"><img src="~/images/delete.svg" /></button></div>
                            </footer>
                        }
                        else
                        {
                            <footer>
                                <div>
                                    <button type="button" class="deckInfo" data-id="@item.Id"><img src="~/images/chart.svg" width="25px;" height="25px;" /></button>
                                </div>
                                <div>

                                </div>
                            </footer>
                        }
                    </div>
                </div>
            </div>
        }
        @if (Model.IsAdmin)
        {
            <a asp-controller="StudyDeck" asp-action="Create" asp-route-roomId="@Model.RoomId">
                <div class="card-container">
                    <div class="card-item">
                        <div class="card-item-add">
                            <img src="~/images/add-card.svg" width="100" height="100" />
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
}
else
{
    if (Model.IsAdmin)
    {
        <div class="flex-div">
            <div class="board2">
                <h5>Esta sala não possui nenhum baralho de estudos</h5>
                <div class="panel2">
                    <a class="button" asp-controller="StudyDeck" asp-action="Create" asp-route-roomId="@Model.RoomId">
                        Crie um novo baralho aqui
                    </a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="flex-div">
            <div class="board2">
                <h5>Esta sala não possui nenhum baralho de estudos</h5>
            </div>
        </div>
    }
}

<div class="modal fade" id="modalConfirm">

</div>

<div class="modal fade" id="modalInfo">

</div>

<div class="modal fade" id="modalAddCards" data-bs-backdrop="static" data-bs-keyboard="false">

</div>