﻿<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-header_text">Nova sala</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="card-container">
                        <a asp-controller="Room" asp-action="Create" style="text-decoration: none; color: inherit;">
                            <div class="card-item" style="height: 100px;">
                                <div class="card-item-add">
                                    <div><img src="~/images/add-card.svg" width="25" height="25" />  Criar nova sala</div>
                                </div>
                            </div>
                        </a>
                        <div class="separator" style="margin:15px;"></div>
                        <form asp-controller="Room" asp-action="EnterRoom" method="post" role="form">
                            <div class="card-item" style="height: 100px;">
                                Insira o código da sala:
                                <div class="card-item-add">
                                    <div class="room-code">
                                        <input type="text" name="roomCode" placeholder="#SLXXXXXX" style="padding-left: 5px; width: 125px;"/>
                                        <div>
                                            <button style="background: transparent; border: 0; transition: filter 0.2s; ">
                                                <img src="~/images/copy.svg" alt="Copiar código da sala" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" style="margin: 10px;" class="btn modal-close-button" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
</div>