﻿<div class="modal-dialog">
    <form asp-controller="Room" asp-action="RemoveRoomConfirmed" method="post" role="form" id="removeForm">
        <input type="hidden" name="roomId" value="@ViewBag.roomId" />
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-header_text">Tem certeza que deseja remover esta Sala de estudos?</h4>
            </div>
            <div class="modal-body">
                <div>
                </div>
                <div class="modal-footer">
                    <div class="galeria">
                        <a class="btn modal-danger-button" href="javascript:document.getElementById('removeForm').submit()">Remover</a>
                    </div>
                    <button type="button" style="margin: 10px;" class="btn modal-close-button" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </form>
</div>