﻿<div class="modal-dialog">
    <form asp-controller="Room" asp-action="RemoveUserConfirmed" method="post" role="form" id="removeForm">
        <input type="hidden" name="roomId" value="@ViewBag.roomId" />
        <input type="hidden" name="email" value="@ViewBag.email" />
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-header_text">Tem certeza que deseja remover este usuário da sala?</h4>
            </div>
            <div class="modal-body">
                <div>
                    <dl class="dl-horizontal">
                        <dd>
                            <div class="modal-dialog-container">
                                <div class="modal-dialog-title">Email</div>
                                <div class="modal-dialog-text"><div class="modal-dialog-text-circle"></div>@ViewBag.email</div>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <div class="galeria">
                        <a class="btn modal-danger-button" href="javascript:document.getElementById('removeForm').submit()">Remover</a>
                    </div>
                    <button type="button" style="margin: 10px;" class="btn modal-close-button" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </form>
</div>