﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ateno</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/var-colors.css" />
    <link rel="stylesheet" href="~/css/site-out.css" />
    <link href="~/css/button.css" rel="stylesheet" />
</head>
<body>
    <div class="out-board">
        <aside>
            <img src="~/images/Illustration.svg" />
            <strong>Otimize seu aprendizado!</strong>
            <p>Melhore os resultados dos seus estudos, com uma pequena rotina diária</p>
        </aside>
        <main>
            <div class="main-content">
                <img src="~/images/logo.svg" alt="Ateno" />
                @RenderBody()
            </div>
        </main>
    </div>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
