﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ateno</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/var-colors.css" />
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/modal.css" />
    <link href="~/css/button.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="content">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.svg" alt="Ateno" />
            </a>
            <div class="action">
                <div class="profile menuToggle"><img src="~/images/user.png" /></div>
                <div class="menu">
                    <h3>João</h3>
                    <ul>
                        <li><a asp-controller="Account" asp-action="ChangeData"><img src="~/images/edit2.png" />Alterar Dados</a></li>
                        <li><a href="#" class="exit"><img src="~/images/logout.png" />Sair</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </header>

    <main class="container">
        @RenderBody()
    </main>

    <div class="modal fade" id="modallogout">

    </div>

    <div class="modal fade" id="modalContent">

    </div>
    <input type="hidden" id="success"
           value="@TempData["success"]" />
    <input type="hidden" id="info"
           value="@TempData["info"]" />
    <input type="hidden" id="warning"
           value="@TempData["warning"]" />
    <input type="hidden" id="error"
           value="@TempData["error"]" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
