﻿.header-page {
    display: flex;
    justify-content: space-between;
    vertical-align: central;
    margin: 32px 0 24px;
    align-items: center;
}

    .header-page h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: var(--blue);
    }

blockquote {
    border: 1px solid var(--blue);
    width: 50%;
}

.inputs-container {
    color: var(--black);
    font-weight: bold;
    padding: 20px;
    background: #f6f8ff;
    display: flex;
    flex-direction: column;
}

.space-item{
    padding-top: 15px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.form-switch {
    text-align: center;
}

@media only screen and (max-width: 630px){
    blockquote {
        width: 100%;
    }
}