﻿.header-page {
    display: flex;
    justify-content: space-between;
    vertical-align: central;
    margin: 32px 0 24px;
    align-items: center;
}

    .header-page h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: var(--blue);
    }

blockquote {
    border: 1px solid var(--blue);
    width: 50%;
}

.inputs-container {
    color: var(--black);
    font-weight: bold;
    padding: 20px;
    background: #f6f8ff;
    display: flex;
    flex-direction: column;
}

.space-item {
    padding-top: 15px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.form-switch {
    text-align: center;
}

.separator {
    margin: 12px 0;
    height: 1px;
    background: var(--gray-light);
    width: 100%;
}

.remove-button button {
    border: 0;
    background: transparent;
    cursor: pointer;
    transition: filter 0.2s;
}

    .remove-button button:hover {
        filter: brightness(0.7);
    }

.svg-img {
    background: url(../../images/delete.svg) center center no-repeat !important;
    width: 24px;
    height: 24px;
}

/*Datatable Styles*/

.text-title {
    color: #0d302b;
    font-family: Comfortaa-Bold;
    font-size: 200%;
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
}

.p-buttonadd {
    text-align: right;
}

.btn-alt {
    flex: 1 1 auto;
    margin: 10px;
    padding: 7px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

    .btn-alt:hover {
        text-decoration: none;
    }

.btn-add-form {
    color: #fff;
    border-radius: 50px;
    font-family: OpenSans-Regular;
    font-size: 14px;
    background-image: linear-gradient(to left, #3fd2c7 0%, #3fd2c7 51%, #004588 100%);
}

    .btn-add-form:hover {
        background-position: right center;
        color: white;
    }

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .p-buttonadd {
        text-align: center;
    }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: center;
    }
}

table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0px 3px;
    font: 400 18px 'Roboto', sans-serif;
}

    table.dataTable thead th, table.dataTable thead td {
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        border: none;
        font-weight: 500;
        vertical-align: top;
        padding: 15px 40px;
        padding-right: 10px;
        background-color: #004588;
        padding-left: 8px;
    }

    table.dataTable.no-footer {
        border: 0;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 10px;
        border-bottom: 1px solid var(--blue);
        color: #555;
        background-color: rgba(242, 241, 241, 0.40);
    }

    table.dataTable tbody tr td:first-child {
        border-left: 1px solid var(--blue);
    }

    table.dataTable tbody tr td:last-child {
        border-right: 1px solid var(--blue);
    }

.btn-table {
    height: 30px;
    width: 30px;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #e5e5e5;
    margin-right: 5px;
    border: 0;
    color: #0d1d30;
}

    .btn-table a {
        color: #0d1d30;
    }

.btn-disabled-table {
    height: 30px;
    width: 30px;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #e5e5e5;
    margin-right: 5px;
    border: 0;
    color: #a1a1a1;
    cursor: default !important;
}

    .btn-disabled-table a {
        color: #0d1d30;
    }

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    border: 1px solid var(--blue);
    border-radius: 15px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #d8e6e8;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #d8e6e8));
    background: -webkit-linear-gradient(top, #fff 0%, #d8e6e8 100%);
    background: -moz-linear-gradient(top, #fff 0%, #d8e6e8 100%);
    background: -ms-linear-gradient(top, #fff 0%, #d8e6e8 100%);
    background: -o-linear-gradient(top, #fff 0%, #d8e6e8 100%);
    background: linear-gradient(to bottom, #fff 0%, #d8e6e8 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    /*box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;*/
    padding: 0;
    /*margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border-radius: 2px;
    border: 1px solid #555;*/
}

    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    }

.dataTables_wrapper .dataTables_length select {
    border: 1px solid #bac5c7;
    border-radius: 50px;
    font-size: 14px;
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    color: var(--blue);
    font-family: OpenSans-Regular;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    color: var(--blue);
    font-family: OpenSans-Regular;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #004588;
    border-color: var(--blue);
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: inherit;
}

div.dataTables_info {
    text-align: right;
}

@media only screen and (max-width: 630px) {
    blockquote {
        width: 100%;
    }
}