﻿.title {
    margin: 32px 0 24px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

    .title h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        color: var(--black);
    }

.room-code {
    height: 40px;
    border-radius: 8px;
    overflow: hidden;
    background: var(--blue-header);
    border: 1px solid var(--blue);
    cursor: pointer;
    display: flex;
    width: 180px;
}

    .room-code div {
        background: var(--blue);
        padding: 0 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .room-code span {
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 16px 0 12px;
        width: 230px;
        font-size: 14px;
        font-weight: 500;
    }

.flex-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    flex-direction: column;
}

.session-item {
    padding-top: 20px;
}

.board {
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
    flex-direction: column
}

h5 {
    color: var(--blue);
    padding-bottom: 10px;
    font-size: 24px;
}

.board .panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

    .board .panel .panel-item {
        background: #FFFFFF;
        border: 2px solid var(--blue);
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        width: 27%;
        height: 70px;
        text-align: center;
        padding: 16px;
    }

        .board .panel .panel-item span {
            flex: none;
            vertical-align: middle;
            font-weight: 600;
            font-size: 18px;
            line-height: 160%;
            color: var(--blue);
        }

            .board .panel .panel-item span .panel-span1 {
                font-size: 24px;
                color: var(--green);
                padding-right: 8px;
            }

            .board .panel .panel-item span .panel-span2 {
                font-size: 24px;
                color: var(--red-dark);
                padding-right: 8px;
            }



.card-list {
    display: flex;
    flex-wrap: wrap;
}

.card-container {
    padding: 12px;
}

.card-item {
    background: var(--white-light);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--blue);
    padding: 24px;
    width: 220px;
    height: 290px;
    opacity: 0.8;
    transition: 0.4s;
}

    .card-item:hover {
        opacity: 1;
        background: var(--blue-houver);
    }

    .card-item .card-item-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 100%;
        width: 100%;
    }

    .card-item .card-item-add {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;
    }

.card-item-title {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-weight: bold;
    padding-top: 12px;
}

.card-item-body {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.card-item p {
    color: var(--black);
}

.card-item .card-item-middle p {
    font-size: 14px;
    margin-bottom: 0;
}

    .card-item .card-item-middle p .count-card1 {
        color: var(--red-dark);
    }

    .card-item .card-item-middle p .count-card2 {
        color: var(--green);
    }

.card-item footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

    .card-item footer button {
        border: 0;
        background: transparent;
        cursor: pointer;
        transition: filter 0.2s;
    }

        .card-item footer button:hover {
            filter: brightness(0.7);
        }

.board2 {
    background: var(--white-light);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--blue);
    padding: 24px;
    width: 50%;
}

    .board2 h5 {
        color: var(--blue);
        text-align: center;
        padding-bottom: 10px;
    }

    .board2 .panel2 {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        flex-direction: row;
    }

.separator {
    margin: 2% 0;
    height: 1px;
    background: var(--gray-light);
}

@media only screen and (max-width: 630px) {
    .title {
        flex-direction: column;
        align-items: flex-start;
    }

    .board .panel{
        flex-direction:column;
        padding-top:0;
    }

        .board .panel .panel-item{
            width:100%;
            margin:8px 0;
        }

    .board2 {
        width: 100%;
    }
}