﻿@model Ateno.WebUI.ViewModels.Account.ChangeDataViewModel
@{
    ViewData["Title"] = "Alterar dados";
}
<link href="~/css/Account/changedata.css" rel="stylesheet" />
@section scripts {
    <script src="~/js/Account/changedata.js"></script>
}

<div class="header-page">
    <div>
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<blockquote class="blockquote inputs-container" title="Dados do Usuário">
    <form asp-controller="Account" asp-action="ChangeData" method="post" role="form" id="formSubmit">
        <div class="row mx-auto">
            <div class="col-md-6" style="padding: 5px;">
                <label asp-for="userData.Name" class="control-label"></label>
                <input name="Name" asp-for="userData.Name" class="form-control" />
            </div>

            <div class="col-md-6" style="padding: 5px;">
                <label asp-for="userData.Email" class="control-label"></label>
                <input name="Email" asp-for="userData.Email" class="form-control" />
            </div>
        </div>

        <div class="row mx-auto" style="padding: 20px;">
            <button type="submit" class="button submitForm">
                Alterar Dados
            </button>
        </div>
    </form>
</blockquote>

<blockquote class="blockquote inputs-container" title="Alterar Senha">
    <form asp-controller="Account" asp-action="ChangePassword" method="post" role="form" id="formSubmit">
        <div class="row mx-auto">
            <div class="col-md-6" style="padding: 5px;">
                <label asp-for="changePassword.currentPassword" class="control-label"></label>
                <input name="currentPassword" asp-for="changePassword.currentPassword" class="form-control" />
            </div>
        </div>

        <div class="row mx-auto">
            <div class="col-md-6" style="padding: 5px;">
                <label asp-for="changePassword.newPassword" class="control-label"></label>
                <input name="newPassword" asp-for="changePassword.newPassword" class="form-control" />
            </div>

            <div class="col-md-6" style="padding: 5px;">
                <label asp-for="changePassword.ConfirmNewPassword" class="control-label"></label>
                <input name="ConfirmNewPassword" asp-for="changePassword.ConfirmNewPassword" class="form-control" />
                <span data-valmsg-for="ConfirmNewPassword" data-valmsg-replace="true" class="text-danger field-validation-valid"></span>
            </div>
        </div>

        <div class="row mx-auto" style="padding: 20px;">
            <button type="submit" class="button submitForm">
                Alterar Senha
            </button>
        </div>
    </form>
</blockquote>