﻿@model Ateno.WebUI.ViewModels.Account.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Entre no sistema</h2>
<form asp-controller="Account" asp-action="Login" method="post" role="form">
    <input asp-for="Email" placeholder="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>
    <br />
    <input asp-for="Password" placeholder="Senha" />
    <span asp-validation-for="Password" class="text-danger"></span>

    <button type="submit" class="button">
        Entrar
    </button>
</form>

<div class="separator"></div>

<div class="register">
    <p>
        Primeira vez por aqui?
    </p>
    <p>
        <a asp-action="Register">Cadastre-se</a> e bem vindo(a)!
    </p>
</div>