﻿@model Ateno.WebUI.ViewModels.Account.RegisterViewModel
@{
    ViewData["Title"] = "Registrar";
}

<h2>Cadastre-se no sistema</h2>
<form asp-controller="Account" asp-action="Register" method="post" role="form">
    <input asp-for="user.Name" placeholder="Insira seu Nome" />
    <span asp-validation-for="user.Name" class="text-danger"></span>
    <br />
    <input asp-for="user.Email" placeholder="Insira seu Email" />
    <span asp-validation-for="user.Email" class="text-danger"></span>
    <br />
    <input asp-for="Password" placeholder="Insira sua Senha" />
    <span asp-validation-for="Password" class="text-danger"></span>
    <br />
    <input asp-for="ConfirmPassword" placeholder="Confirme sua Senha" />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

    <button type="submit" class="button">
        Cadastrar
    </button>
</form>

<div class="separator"></div>

<p>
    Já possui conta? <a asp-action="Login">Entrar</a>
</p>