﻿<div id="removeModalBody">
    @model Ateno.WebUI.ViewModels.StudyDeck.AddCardsViewModel
    <link href="~/css/StudyDeck/addcards.css" rel="stylesheet" />
    <script>
        $(".submitForm").on("click", function () {
            var count = 0;
            var inputs = [];
            var ok = true;
            $('.getCardOnsubmit').each(function () {
                var front = $(this)[0].children[0].value;
                var back = $(this)[0].children[1].value;
                if (front && back && /\S/.test(front) && /\S/.test(back)) {
                    inputs.push('<input type="hidden" name="Cards[' + count + '].Front" value="' + front + '" /> ');
                    inputs.push('<input type="hidden" name="Cards[' + count + '].Back" value="' + back + '" /> ');
                    count++;
                }
                else {
                    ok = false;
                    toastr.warning("É necessário preencher todo os cards.");
                    return false;
                }
            });
            if (ok) {
                for (var i = 0; i < inputs.length; i++) {
                    $(this).append(inputs[i]);
                }
                $("#addCardsForm").submit();
            }
        });

        $(".addcard-item-add").on("click", function () {
            var html = '<div class="addcard-container"><div class="addcard-item" ><div class="addcard-item-container">' +
                '<h5>Cartão</h5>' +
                '<div class="addcard-item-body getCardOnsubmit">' +
                '<textarea placeholder="Frente" class="imputFront"></textarea>' +
                '<textarea placeholder="Verso" class="imputBack"></textarea>' +
                '</div>' +
                '<footer><div><button type="button" class="svg-img remove-card"></button></div></footer>' +
                '</div></div ></div >';
            $('#cards').append(html);
        });

        $("#cards").on("click", ".remove-card", function () {
            $(this)[0].offsetParent.parentElement.parentElement.remove();
        });
    </script>

    <div class="modal-dialog modal-auto">
        <form asp-controller="StudyDeck" asp-action="AddCards" method="post" role="form" id="addCardsForm">
            <input type="hidden" asp-for="studyDeckId" />
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-header_text">Adição de cartões</h4>
                </div>
                <div class="modal-body">
                    <div class="addcard-list">
                        <div id="cards">
                            <div class="addcard-container">
                                <div class="addcard-item">
                                    <div class="addcard-item-container">
                                        <h5>Cartão</h5>
                                        <div class="addcard-item-body getCardOnsubmit">
                                            <textarea placeholder="Frente"></textarea>
                                            <textarea placeholder="Verso"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 85%;">
                        <div class="addcard-container">
                            <div class="addcard-item">
                                <div class="addcard-item-container">
                                    <div class="addcard-item-add">
                                        <img src="~/images/add.svg" width="50px;" height="50px;" style="opacity: 0.2; padding: 6px;" />
                                        NOVO CARTÃO
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button submitForm">
                            Adicionar cartões
                        </button>
                        <button type="button" style="margin: 10px;" class="btn modal-close-button" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>