﻿@model Ateno.WebUI.ViewModels.StudyDeck.CreateViewModel
@{
    ViewData["Title"] = "Novo Baralho";
}
<link href="~/css/StudyDeck/create.css" rel="stylesheet" />
@section scripts {
    <script src="~/js/StudyDeck/create.js"></script>
}

<form asp-controller="StudyDeck" asp-action="Create" method="post" role="form" id="formSubmit">
    <input type="hidden" asp-for="Deck.StudyRoomId" value="@ViewBag.RoomId" />
    <div class="header-page">
        <div>
            <h1>Crie um novo baralho de estudo</h1>
        </div>
        <button type="button" class="button submitForm">
            Criar
        </button>
    </div>

    <div class="form-item-content">
        <input asp-for="Deck.Name" placeholder="Nome do baralho" />
    </div>

    <div class="flex-div">
        <div class="separator"></div>
    </div>

    <div class="card-list">
        <div id="cards">
            @if (Model == null || Model.Cards.Count == 0)
            {
                <div class="card-container">
                    <div class="card-item">
                        <div class="card-item-container">
                            <h5>Cartão</h5>
                            <div class="card-item-body getCardOnsubmit">
                                <textarea placeholder="Frente"></textarea>
                                <textarea placeholder="Verso"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                bool first = true;
                foreach (var item in Model.Cards)
                {
                    <div class="card-container">
                        <div class="card-item">
                            <div class="card-item-container">
                                <h5>Cartão</h5>
                                <div class="card-item-body getCardOnsubmit">
                                    <textarea placeholder="Frente">@item.Front</textarea>
                                    <textarea placeholder="Verso">@item.Back</textarea>
                                </div>
                                @if (first)
                                {
                                    first = false;
                                }
                                else
                                {
                                    <footer>
                                        <div><button type="button" class="svg-img remove-card"></button></div>
                                    </footer>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="card-container">
        <div class="card-item">
            <div class="card-item-container">
                <div class="card-item-add">
                    <img src="~/images/add.svg" width="50px;" height="50px;" style="opacity: 0.2; padding: 6px;" />
                    ADICIONAR CARTÃO
                </div>
            </div>
        </div>
    </div>
</form>