﻿@model Ateno.Application.DTOs.StudyDeckDTO
@{
    ViewData["Title"] = "Editar Baralho";
}
<link href="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.css" rel="stylesheet" />
<link href="~/lib/datatables.net-responsive-bs5/responsive.bootstrap5.min.css" rel="stylesheet" />
<link href="~/css/StudyDeck/editstudydeck.css" rel="stylesheet" />
@section scripts {
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/responsive.bootstrap5.min.js"></script>
    <script src="~/js/StudyDeck/editstudydeck.js"></script>
}

<form asp-controller="StudyDeck" asp-action="EditStudyDeck" method="post" role="form" id="formSubmit">
    <input type="hidden" asp-for="Id" />
    <div class="header-page">
        <div>
            <h1>Edição do baralho de estudo</h1>
        </div>
    </div>

    <div class="form-item-content">
        <input asp-for="Name" placeholder="Nome do baralho" />
        <button type="submit" class="button">
            Alterar nome
        </button>
    </div>

    <div class="flex-div">
        <div class="separator"></div>
    </div>
</form>

<div class="header-page">
    <div>
        <h1>Cartões do Baralho</h1>
    </div>
    <button type="button" class="button addCards" data-id="@Model.Id">
        Adicionar cartões
    </button>
</div>

<table id="myTable" class="table dt-responsive" style="max-width:100%;">
    <thead>
        <tr>
            <th style="width: 38%;">
                Frente
            </th>

            <th style="width: 55%">
                Verso
            </th>

            <th style="width: 7%;">Remover</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.studyCardDTOs)
        {
            <tr>
                <td style="overflow: hidden; text-overflow: clip">
                    @item.Front
                </td>

                <td style="overflow: hidden; text-overflow: clip">
                    @item.Back
                </td>

                <td align="center">
                    <div class="remove-button"><button type="button" class="svg-img remove-card" data-id="@item.Id"></button></div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="modalAddCards" data-bs-backdrop="static" data-bs-keyboard="false">

</div>

<div class="modal fade" id="modalConfirm">

</div>