﻿@model Ateno.Application.DTOs.StudyCardDTO
@{
    ViewData["Title"] = "Estudos";
}
<link href="~/css/StudyDeck/index.css" rel="stylesheet" />
@section scripts {
    <script src="~/js/StudyDeck/index.js"></script>
}

<div class="title">
    <span class="primary">Estudo</span><span class="secondary"> - @Model.StudyDeckName</span>
</div>

<form asp-controller="StudyDeck" asp-action="Index" method="post" role="form">
    <input type="hidden" asp-for="Id" />
    <div class="flex-div">
        <div class="card-front">
            <h5>Frente</h5>
            <div class="panel">
                <div class="panel-item">
                    <p>@Model.Front</p>
                </div>
            </div>
        </div>

        <div class="separator"></div>

        <div class="card-back">
            <h5>Verso</h5>
            <div id="card-back-hide">
                <div class="view-button">
                    <a id="hide-button" class="button outlined">Revelar o cartão</a>
                </div>
            </div>
            <div id="card-back-view" class="hide-card">
                <div class="panel">
                    <div class="panel-item">
                        <p>@Model.Back</p>
                    </div>
                </div>
                <footer>
                    <div class="footer-button">
                        <button class="button option" type="submit" name="answer" value="1">Errei</button>
                        <button class="button option" type="submit" name="answer" value="3">Difícil</button>
                        <button class="button option" type="submit" name="answer" value="4">Bom</button>
                        <button class="button option" type="submit" name="answer" value="5">Fácil</button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</form>