﻿.addcard-list {
    margin-top: 6px;
    width: 85%;
}

.addcard-button {
    width: 85%;
}

.addcard-container {
    padding: 12px;
}

.addcard-item {
    background: var(--white-light);
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.14);
    padding: 16px;
    height: auto;
    border: 2px solid var(--blue);
    color: var(--blue);
}

    .addcard-item .addcard-item-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 100%;
        width: 100%;
    }

.addcard-item-body {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    height: 80%;
}

    .addcard-item-body textarea {
        height: 100px;
        width: 47%;
        border-radius: 8px;
        padding: 16px 16px;
        margin-bottom: 4px;
        background: var(--white-light);
        border: 1px solid var(--blue);
        resize: none;
    }

.addcard-item footer {
    margin-right: 12px;
    text-align: right;
}

    .addcard-item footer button {
        border: 0;
        background: transparent;
        cursor: pointer;
        transition: filter 0.2s;
    }

        .addcard-item footer button:hover {
            filter: brightness(0.7);
        }

.addcard-item .addcard-item-add {
    width: auto;
    padding: 12px;
    text-align: center;
    border: 1px dashed var(--blue);
    border-radius: 8px;
    cursor: pointer;
    color: var(--blue);
}

.svg-img {
    background: url(../../images/delete.svg) center center no-repeat !important;
    width: 24px;
    height: 24px;
}

@media only screen and (max-width: 630px){

    .addcard-item-add {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .addcard-button {
        width: 100%;
    }

    .addcard-item-body{
        flex-direction:column;
    }

        .addcard-item-body textarea{
            width:100%;
            height:72px;
        }

    .modal-footer{
        justify-content:center;
    }
}