﻿form input {
    height: 50px;
    width: 35%;
    border-radius: 8px;
    padding: 0 16px;
    margin-bottom: 4px;
    background: var(--white-light);
    border: 1px solid var(--blue);
}

.header-page {
    display: flex;
    justify-content: space-between;
    vertical-align: central;
    margin: 32px 0 24px;
    align-items: center;
}

.header-page h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: var(--blue);
}

.form-item-content {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.2;
    padding: 10px;
}
.flex-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    flex-direction: column;
}

.separator {
    margin: 32px 0;
    height: 1px;
    background: var(--gray-light);
    width: 60%;
}

.card-list {
    margin-top: 32px;
}

.card-container {
    padding: 12px;
}

.card-item {
    background: var(--white-light);
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.14);
    padding: 16px;
    height: auto;
    border: 2px solid var(--blue);
    color: var(--blue);
}

    .card-item .card-item-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 100%;
        width: 100%;
    }

.card-item-body {
    display: flex;
    justify-content:space-between;
    padding: 12px;
    height: 80%;
}

    .card-item-body textarea {
        height: 100px;
        width: 47%;
        border-radius: 8px;
        padding: 16px 16px;
        margin-bottom: 4px;
        background: var(--white-light);
        border: 1px solid var(--blue);
        resize: none;
    }

.card-item footer {
    margin-right: 12px;
    text-align: right;
}

    .card-item footer button {
        border: 0;
        background: transparent;
        cursor: pointer;
        transition: filter 0.2s;
    }

        .card-item footer button:hover {
            filter: brightness(0.7);
        }

.card-item .card-item-add {
    width: auto;
    padding: 12px;
    text-align: center;
    border: 1px dashed var(--blue);
    border-radius: 8px;
    cursor: pointer;
    color: var(--blue);
}

.svg-img {
    background: url(../../images/delete.svg) center center no-repeat !important;
    width: 24px;
    height: 24px;
}

@media only screen and (max-width: 630px) {
    form input{
        width:100%;
    }

    .flex-div {
        padding-top: 0;
    }

    .card-list {
        margin-top: 0;
    }

    .card-item-body {
        flex-direction:column;
        justify-content: space-between;
        
    }

        .card-item-body textarea {
            width: 100%;
            height: 72px;
        }
}