﻿.title {
    margin: 32px 0 24px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

    .title .primary {
        font-size: 24px;
        color: var(--black);
    }

    .title .secondary {
        font-size: 20px;
        color: var(--gray-dark);
    }

.flex-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    flex-direction: column;
}

.card-front {
    background: var(--purple-background);
    border-radius: 8px;
    box-shadow: 0 1px 12px var(--purple-box-shadow);
    border: 1px solid var(--purple-box-shadow);
    padding: 14px;
    width: 80%;
    height: 50%;
}

    .card-front h5 {
        color: var(--gray-dark);
        text-align: center;
        padding-bottom: 5px;
    }

    .card-front .panel {
        background: var(--purple-background);
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        flex-direction: row;
    }

        .card-front .panel .panel-item {
            background: var(--white);
            box-shadow: 0 1px 10px var(--purple-box-shadow);
            border-radius: 8px;
            padding: 12px;
            width: 100%;
            min-height: 80px;
            height: 100%;
            text-align: center;
            color: var(--gray-dark);
        }

            .card-front .panel .panel-item p {
                margin-bottom: 0;
                font-size: 24px;
                color: var(--black);
                padding-top: 2px;
            }

.separator {
    margin: 32px 0;
    height: 1px;
    background: var(--gray-light);
    width: 60%;
}

.card-back {
    background: var(--blue-header);
    border-radius: 8px;
    box-shadow: 0 5px 22px var(--blue-header);
    border: 1px solid var(--purple-box-shadow);
    padding: 14px;
    width: 80%;
    min-height: 200px;
}

    .card-back h5 {
        color: var(--gray-dark);
        text-align: center;
        padding-bottom: 5px;
    }

    .card-back .panel {
        background: var(--purple-background);
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        flex-direction: row;
    }

        .card-back .panel .panel-item {
            background: var(--white);
            box-shadow: 0 1px 10px var(--purple-box-shadow);
            border-radius: 8px;
            padding: 12px;
            width: 100%;
            min-height: 200px;
            height: 100%;
            text-align: center;
            color: var(--gray-dark);
        }

            .card-back .panel .panel-item p {
                margin-bottom: 0;
                font-size: 24px;
                color: var(--black);
                padding-top: 2px;
            }

    .card-back .view-button {
        height: 115px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-back footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .card-back .footer-button {
        width: 75%;
        padding-top: 20px;
        display: flex;
        justify-content: space-evenly;
    }

    .card-back .hide-card {
        display: none;
    }


@media only screen and (max-width: 630px) {
    .card-back .footer-button{
        flex-wrap:wrap;
    }

    .button.option {
        margin: 4px;
        width: 45%;
    }
}