﻿@model Ateno.Application.DTOs.HomeDTO
@{
    ViewData["Title"] = "Home";
}
<link href="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.css" rel="stylesheet" />
<link href="~/lib/datatables.net-responsive-bs5/responsive.bootstrap5.min.css" rel="stylesheet" />
<link href="~/css/Home/Index.css" rel="stylesheet" />
<link href="~/css/Room/deckinfo.css" rel="stylesheet" />
@section scripts {
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/responsive.bootstrap5.min.js"></script>
    <script src="~/js/Home/index.js"></script>
}

<div class="title">
    <h1>Olá, @Model.UserFirstName!</h1>
    <h2>Pronto para se tornar uma melhor versão de si mesmo?</h2>
</div>

@if (Model.DeckCards.Count > 0)
{
    <div class="board">
        <h5>Acompanhamento diário</h5>
        <div class="panel">
            <div class="panel-item">
                <span>
                    <span class="panel-span1">@Model.InReview</span> A revisar
                </span>
            </div>
            <div class="panel-item">
                <span>
                    <span class="panel-span1">@Model.InLearning</span> Em aprendizagem
                </span>
            </div>
            <div class="panel-item">
                <span>
                    @if (Model.TotalCount != 0)
                    {
                        <span class="panel-span2">@Model.TotalCount</span>
                    }
                    else
                    {
                        <span class="panel-span1">@Model.TotalCount</span>
                    }
                    Total pendente
                </span>
            </div>
        </div>
    </div>
}

<h5 class="session-item">Baralhos de estudos</h5>

@if (Model.DeckCards.Count > 0)
{
    <div class="card-list">
        @foreach (var item in Model.DeckCards)
        {
            <div class="card-container">
                <div class="card-item">
                    <div class="card-item-container">
                        <a asp-controller="StudyDeck" asp-action="Index" asp-route-deckid="@item.Id" class="card-item-body">
                            <div class="card-item-title">@item.Name</div>
                            <div class="card-item-middle">
                                @if (item.InReview != 0)
                                {
                                    <p>A revisar: <span class="count-card1">@item.InReview</span></p>
                                }
                                else
                                {
                                    <p>A revisar: <span class="count-card2">@item.InReview</span></p>
                                }
                                @if (item.InLearning != 0)
                                {
                                    <p>Em aprendizagem: <span class="count-card1">@item.InLearning</span></p>
                                }
                                else
                                {
                                    <p>Em aprendizagem: <span class="count-card2">@item.InLearning</span></p>
                                }
                            </div>
                        </a>
                        <footer>
                            <div>
                                <button type="button" class="addCards" data-id="@item.Id"><img src="~/images/add.svg" /></button>
                                <a type="button" asp-controller="StudyDeck" asp-action="EditStudyDeck" asp-route-studyDeckId="@item.Id" style="padding-left: 5px; padding-right: 5px; "><img src="~/images/edit.svg" /></a>
                                <button type="button" class="deckInfo" data-id="@item.Id"><img src="~/images/chart.svg" width="25px;" height="25px;" /></button>
                            </div>
                            <div><button type="button" class="removeDeck" data-id="@item.Id"><img src="~/images/delete.svg" /></button></div>
                        </footer>
                    </div>
                </div>
            </div>
        }
        <a asp-controller="StudyDeck" asp-action="Create">
            <div class="card-container">
                <div class="card-item">
                    <div class="card-item-add">
                        <img src="~/images/add-card.svg" width="100" height="100" />
                    </div>
                </div>
            </div>
        </a>
    </div>
}
else
{
    <div class="flex-div">
        <div class="board2">
            <h5>Você não possui nenhum baralho de estudos</h5>
            <div class="panel2">
                <a class="button" asp-controller="StudyDeck" asp-action="Create">
                    Crie um novo baralho aqui
                </a>
            </div>
        </div>
    </div>
}

<div class="separator"></div>

<h5 class="session-item">Salas de estudos</h5>

@if (Model.RoomCards.Count > 0)
{
    <div class="card-list">
        @foreach (var item in Model.RoomCards)
        {
            <div class="card-container">
                <div class="card-item">
                    <div class="card-item-container">
                        <a asp-controller="Room" asp-action="Index" asp-route-roomId="@item.Id" class="card-item-body">
                            <div class="card-item-title">@item.Name</div>
                            <div class="card-item-middle">

                            </div>
                        </a>
                        <footer>
                            @if (item.IsAdmin)
                            {
                                <div>
                                    <a asp-controller="Room" asp-action="Edit" asp-route-roomId="@item.Id"><img src="~/images/settings.svg" width="25px;" height="25px;" /></a>
                                </div>
                                <div><button type="button" class="removeRoom" data-id="@item.Id"><img src="~/images/delete.svg" /></button></div>
                            }
                            else
                            {
                                <div>

                                </div>
                                <div><button type="button" class="removeRoom" data-id="@item.Id"><img src="~/images/delete.svg" /></button></div>
                            }
                        </footer>
                    </div>
                </div>
            </div>
        }

        <div class="card-container" style="cursor: pointer;" id="newRoom">
            <div class="card-item">
                <div class="card-item-add">
                    <img src="~/images/add-card.svg" width="100" height="100" />
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="flex-div">
        <div class="board2">
            <h5>Você não faz parte de nenhuma sala de estudos</h5>
            <div class="panel2">
                <button class="button"  id="newRoom">
                    Entre ou crie uma nova sala aqui
                </button>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="modalConfirm">

</div>

<div class="modal fade" id="modalInfo">

</div>

<div class="modal fade" id="modalAddCards" data-bs-backdrop="static" data-bs-keyboard="false">

</div>