﻿<div class="modal-dialog">
    <form asp-controller="Account" asp-action="Logout" method="post" role="form" id="logoutForm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-header_text">Tem certeza que deseja sair?</h4>
            </div>
            <div class="modal-body">
                <div class="modal-footer">
                    <div class="galeria">
                        <a class="btn modal-danger-button" href="javascript:document.getElementById('logoutForm').submit()">Sair</a>
                    </div>
                    <button type="button" style="margin: 10px;" class="btn modal-close-button" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </form>
</div>