﻿.button {
    text-decoration: none;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: var(--blue-light);
    color: var(--white-light);
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid var(--blue);
    transition: filter 0.2s;
}

.button img {
    margin-right: 8px;
}

    .button.outlined {
        background: var(--white-light);
        border: 1px solid var(--purple);
        color: var(--purple);
    }

    .button.option {
        background: var(--white-light);
        border: 1px solid var(--purple);
        color: var(--purple);
        height: 32px;
        padding: 0 32px;
        font-size: 18px;
    }

        .button.option:not(:disabled):hover {
            color: var(--purple);
        }

        .button.outlined:not(:disabled):hover {
            filter: brightness(0.9);
            color: var(--purple);
        }

    .button:not(:disabled):hover {
        filter: brightness(0.9);
        color: var(--white-light);
    }

    .button:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }