﻿.modal-header {
    background: var(--blue-modal-header);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-content {
    border: 6px solid rgba(0,0,0,.2);
}

.modal-header_text {
    color: var(--white);
}

.modal-body {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-left: 1em;
    margin-right: 1em;
}

.modal-body-tables {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}

.modal-dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid var(--blue);
    padding-top: 10px;
}

.modal-dialog-title {
    font-weight: bold;
    color: var(--blue);
}

.modal-dialog-text {
    display: flex;
    align-items: center;
    color: var(--black);
    padding-top: 5px;
}

.modal-dialog-text-circle {
    height: 6px;
    width: 6px;
    border-radius: 100%;
    background: var(--blue);
    margin-right: 5px;
    padding: 3px;
}

.modal-button-container {
    padding: 5px;
}

.modal-close-button {
    background: var(--blue);
    color: var(--white);
    margin: 10px;
}

    .modal-close-button:hover {
        background: var(--blue-light);
        color: var(--white);
    }

.modal-success-button {
    background: #3ba118;
    color: var(--white);
    margin: 10px;
}

    .modal-success-button:hover {
        background: var(--white);
        color: var(--white);
    }

.modal-danger-button {
    background: var(--red);
    color: var(--white);
    margin: 10px;
}

    .modal-danger-button:hover {
        background: var(--red-dark);
        color: var(--white);
    }

.modal-auto {
    max-width: none;
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.modal-middle {
    max-width: none;
    width: 60%;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 630px){
    .modal-body > div:first-child{
        width:100%;
    }

    .modal-body .card-item {
        width: 100%;
    }
}