﻿@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Regular.ttf)
}
@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins/Poppins-Regular.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toast-bottom-right {
    bottom: 50px;
    right: 12px;
}

body {
    background: var(--white);
    color: var(--black);
    background-image: url(../images/bg.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
}

body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
}

form{
    width: inherit;
    height: inherit;
    display: inherit;
}

header {
    padding: 24px;
    border-bottom: 1px solid var(--gray-divider);
    background: var(--blue-header);
}

    header .content {
        max-width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        header .content > img {
            max-height: 45px;
        }

        header .content > div {
            display: flex;
            gap: 16px;
        }

            header .content > div button {
                height: 40px;
            }

.action {
    position: relative;
    right: -7%;
}

    .action .profile {
        position: relative;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        background: var(--white-light);
        border: 1px solid var(--blue);
        color: var(--purple);
    }

    .action .profile img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .action .menu {
        position: absolute;
        top: 80px;
        right: -40%;
        padding: 10px 20px;
        background: var(--white-light);
        width: 200px;
        box-sizing: 0 5px 25px rgba(0,0,0,0.1);
        border-radius: 15px;
        transition: 0.5s;
        visibility: hidden;
        opacity: 0;
        border: 1px solid var(--blue);
    }

        .action .menu.active {
            top: 65px;
            visibility: visible;
            opacity: 1;
        }

        .action .menu::before {
            content: '';
            position: absolute;
            top: -5px;
            right: 28px;
            width: 20px;
            height: 20px;
            background: var(--white-light);
            transform: rotate(45deg);
        }

        .action .menu h3 {
            width: 100%;
            text-align: center;
            font-size: 18px;
            padding: 20px 0;
            font-weight: 500;
            color: var(--blue);
            line-height: 1.2em;
        }

        .action .menu ul {
            padding-left: 1rem;
        }

        .action .menu ul li {
            list-style: none;
            padding: 10px 0;
            border-top: 1px solid rgba(0,0,0,0.05);
            display: flex;
            align-items: center;
        }

        .action .menu ul li img {
            max-width: 20px;
            margin-right: 10px;
            opacity: 0.5;
            transition: 0.5s;
        }

        .action .menu ul li:hover img {
            opacity: 1;
        }

        .action .menu ul li a{
            display: inline-block;
            text-decoration: none;
            color: var(--black);
            font-weight: 500;
            transition: 0.5s;
        }

            .action .menu ul li:hover a{
                color: var(--red-dark);
            }

main {
    margin: 0 auto;
}