﻿body {
    width: 100%;
    height: 100%;
    background: var(--white);
}

.out-board {
    display: flex;
    align-items: stretch;
    height: 100vh;
}

aside {
    flex: 6;
    background: var(--purple);
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 80px;
}

aside img {
    max-width: 60%;
}

aside strong {
    font: 700 36px 'Poppins', sans-serif;
    line-height: 42px;
    margin-top: 16px;
}

aside p {
    font-size: 24px;
    line-height: 32px;
    margin-top: 16px;
    color: var(--white);
}

main {
    flex: 9;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;
}

    .main-content > img {
        align-self: center;
    }

    .main-content h2 {
        font-size: 24px;
        margin: 64px 0 24px;
        font-family: 'Poppins', sans-serif;
    }

    .main-content form input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        margin-bottom: 4px;
        background: var(--white-light);
        border: 1px solid var(--gray-medium);
    }

    .main-content form button {
        margin-top: 10px;
    }

    .main-content form button, .main-content form input {
        width: 100%;
    }

    .main-content p {
        font-size: 16px;
        color: var(--gray-dark);
        margin: 0;
    }

        .main-content p a {
            color: var(--pink-dark);
        }

.separator {
    margin: 7% 0;
    height: 1px;
    background: var(--gray-light);
}

@media only screen and (max-width: 630px) {
    aside {
        display:none;
    }
}