﻿:root {
    --shadow: #050206;
    --black: #29292E;
    --blue: #061547;
    --blue-light: #264096;
    --red: #980404;
    --red-dark: #750101;
    --green: #005909;
    --purple: #835AFD;
    --purple-houver: #6F4BD8;
    --purple-box-shadow: rgba(131, 90, 253, 0.34);
    --purple-background: #faf7ff;
    --gradient: linear-gradient(139.44deg, #485BFF 0%, #FF59F8 96.19%);
    --danger: #E73F5D;
    --danger-houver: #D73754;
    --gray-dark: #737380;
    --gray-medium: #A8A8B3;
    --gray-medium-houver: #7E7E86;
    --gray-light: #DBDCDD;
    --gray-light-houver: #CECECE;
    --gray-divider: #E2E2E2;
    --white: #F8F8F8;
    --white-light: #FEFEFE;
    --blue-header: #f0f3ff;
    --blue-modal-header: #1f357d;
    --blue-houver: #f6f8ff;
    --pink-dark: #E559F9;
    --pink-light: #D67EE2;
}
